.left-pane {
    -fx-background-color: #3B4252
}

.button {
    -fx-background-color: #5E81AC
}

.textbox {
    -fx-background-color: #D8DEE9
}

.view-pane {
    -fx-background-color: #D8DEE9
}

.save-button {
    -fx-background-color: #d08770;
}

.load-button {
    -fx-background-color: #a3be8c;
}

.clear-button {
    -fx-background-color: #b48ead;
}